@mixin frame($thickness,$style:solid,$color-border:#000,$color-bg:#eee,$padding:10px,$radius:15px,)
{
  background-color: $color-bg;
  padding: $padding;
  border-radius: $radius;
  border-style: $style;
  border-color: $color-border;
  &:hover{
    box-shadow:5px 5px 10px rgba(0,0,0,0.4);
  }

}